import Mj{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Mj{{properCase name}}',
  component: Mj{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Mj{{properCase name}} },
  template: `
    <div>
      <mj-{{name}}></mj-{{name}}>
    </div>
  `
})